<center><h1>Neural Network</h1></center>

<br><h1>Table of contents</h1>

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ol>
        <li><a href="#import_data">Import the Data</a></li>
        <li><a href="#prepare_data">Prepare the data in</a></li>
        <li><a href="#nn">Neural Network Model</a></li>
        <li><a href="#evaluation">Evaluation</a></li>
    </ol>
</div>
<br>
<hr>

<h2 id='import_data'>Import the Data</h2>

In [1]:
#import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [26]:
#import the data
df = pd.read_csv('FuelConsumptionCo2.csv')
df.head()

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

<br><br><br><h2 id='prepare_data'>Prepare the Data</h2>

In [27]:
#describtion of given data
df.describe()

,MODELYEAR,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
count,1067.0,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000
mean,2014.0,3.346298,5.794752,13.296532,9.474602,11.580881,26.441425,256.228679
std,0.0,1.415895,1.797447,4.101253,2.794510,3.485595,7.468702,63.372304
min,2014.0,1.000000,3.000000,4.600000,4.900000,4.700000,11.000000,108.000000
25%,2014.0,2.000000,4.000000,10.250000,7.500000,9.000000,21.000000,207.000000
50%,2014.0,3.400000,6.000000,12.600000,8.800000,10.900000,26.000000,251.000000
75%,2014.0,4.300000,8.000000,15.550000,10.850000,13.350000,31.000000,294.000000
max,2014.0,8.400000,12.000000,30.200000,20.500000,25.800000,60.000000,488.000000

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067 entries, 0 to 1066
Data columns (total 13 columns):
MODELYEAR                   1067 non-null int64
MAKE                        1067 non-null object
MODEL                       1067 non-null object
VEHICLECLASS                1067 non-null object
ENGINESIZE                  1067 non-null float64
CYLINDERS                   1067 non-null int64
TRANSMISSION                1067 non-null object
FUELTYPE                    1067 non-null object
FUELCONSUMPTION_CITY        1067 non-null float64
FUELCONSUMPTION_HWY         1067 non-null float64
FUELCONSUMPTION_COMB        1067 non-null float64
FUELCONSUMPTION_COMB_MPG    1067 non-null int64
CO2EMISSIONS                1067 non-null int64
dtypes: float64(4), int64(4), object(5)
memory usage: 108.5+ KB

In [35]:
null = df.isnull().sum()
null

ENGINESIZE                  0
CYLINDERS                   0
FUELCONSUMPTION_CITY        0
FUELCONSUMPTION_HWY         0
FUELCONSUMPTION_COMB        0
FUELCONSUMPTION_COMB_MPG    0
CO2EMISSIONS                0
dtype: int64

In [30]:
df_dummies = pd.get_dummies(df[['MODELYEAR','MAKE','MODEL','VEHICLECLASS','TRANSMISSION','FUELTYPE']])
df_dummies.head()

,MODELYEAR,MAKE_ACURA,MAKE_ASTON MARTIN,MAKE_AUDI,MAKE_BENTLEY,MAKE_BMW,MAKE_BUICK,MAKE_CADILLAC,MAKE_CHEVROLET,MAKE_CHRYSLER,...,TRANSMISSION_AV6,TRANSMISSION_AV7,TRANSMISSION_AV8,TRANSMISSION_M5,TRANSMISSION_M6,TRANSMISSION_M7,FUELTYPE_D,FUELTYPE_E,FUELTYPE_X,FUELTYPE_Z
0,2014,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2014,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,2014,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
3,2014,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,2014,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [31]:
df = df.drop(['MODELYEAR','MAKE','MODEL','VEHICLECLASS','TRANSMISSION','FUELTYPE'], axis=1)

In [36]:
df1 = pd.concat([df,df_dummies], axis=1)

In [37]:
df1.head()

,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS,MODELYEAR,MAKE_ACURA,MAKE_ASTON MARTIN,...,TRANSMISSION_AV6,TRANSMISSION_AV7,TRANSMISSION_AV8,TRANSMISSION_M5,TRANSMISSION_M6,TRANSMISSION_M7,FUELTYPE_D,FUELTYPE_E,FUELTYPE_X,FUELTYPE_Z
0,2.0,4,9.9,6.7,8.5,33,196,2014,1,0,...,0,0,0,0,0,0,0,0,0,1
1,2.4,4,11.2,7.7,9.6,29,221,2014,1,0,...,0,0,0,0,1,0,0,0,0,1
2,1.5,4,6.0,5.8,5.9,48,136,2014,1,0,...,0,1,0,0,0,0,0,0,0,1
3,3.5,6,12.7,9.1,11.1,25,255,2014,1,0,...,0,0,0,0,0,0,0,0,0,1
4,3.5,6,12.1,8.7,10.6,27,244,2014,1,0,...,0,0,0,0,0,0,0,0,0,1

In [38]:
target = df1.pop('CO2EMISSIONS')

In [41]:
#split the data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df1, target, test_size=0.2)

<br><br><br><h2 id='nn'>Neural Network Model</h2>

In [75]:
from sklearn.neural_network import MLPClassifier

mlp = MLPClassifier(hidden_layer_sizes=(100,), activation='identity',solver='adam',max_iter=300, random_state=40).fit(X_train, y_train)

In [76]:
pred = mlp.predict(X_test)
pred

array([248, 248, 248, 248, 248, 248, 248, 248, 248, 248, 248, 248, 248,
       248, 317, 248, 248, 248, 248, 248, 248, 290, 248, 248, 230, 248,
       248, 248, 248, 248, 184, 248, 248, 248, 248, 248, 248, 248, 248,
       184, 248, 230, 248, 248, 248, 248, 248, 248, 248, 248, 290, 248,
       248, 230, 248, 248, 290, 248, 248, 248, 184, 248, 248, 248, 248,
       230, 248, 248, 248, 230, 248, 248, 248, 230, 248, 248, 230, 230,
       248, 248, 248, 248, 248, 317, 248, 264, 248, 248, 248, 248, 248,
       248, 248, 248, 248, 248, 248, 248, 248, 248, 248, 317, 248, 248,
       248, 248, 248, 248, 230, 230, 248, 184, 248, 248, 248, 290, 248,
       248, 230, 290, 184, 230, 248, 248, 248, 248, 248, 248, 248, 248,
       248, 248, 290, 248, 248, 230, 248, 248, 248, 184, 248, 230, 248,
       248, 248, 248, 230, 184, 248, 230, 248, 248, 264, 248, 248, 317,
       248, 248, 248, 354, 248, 248, 248, 248, 248, 248, 248, 248, 248,
       248, 248, 248, 248, 248, 248, 184, 248, 248, 248, 248, 248, 248,
       248, 248, 248, 248, 184, 248, 248, 248, 248, 248, 248, 248, 248,
       264, 264, 248, 248, 248, 248, 248, 248, 248, 248, 248, 248, 248,
       248, 248, 230, 248, 248, 248], dtype=int64)

<br><br><br><h2 id='nn'>Evaluation</h2>

In [81]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, pred)

0.009345794392523364

In [87]:
print("Accuracy on training set: {}".format(mlp.score(X_train, y_train)*100))
print("Accuracy on test set: {}".format(mlp.score(X_test, y_test)*100))

Accuracy on training set: 0.7268464243845252
Accuracy on test set: 0.9345794392523363

In [89]:
print("Mean absolute error: %.2f" % np.mean(np.absolute(pred - y_test)))
print("Residual sum of squares (MSE): %.2f" % np.mean((pred - y_test) ** 2))

Mean absolute error: 43.20
Residual sum of squares (MSE): 3183.06

<br>
<br>
<br>
End of the notebook...